.footer {
  background-color: #3e8cc4; /* Hauptfarbe Blau */
  color: whitesmoke;
  padding: 3rem 1rem 1rem;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 60rem;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 250px;
  min-width: 250px;
}

.footer-title {
  margin-bottom: 1rem;
  color: var(--footer-font); /* Orange Akzent */
}

.footer-section p,
.footer-section a {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #f4f4f4;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.rechtliches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Responsives Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
